{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-optional-chaining",
    "require-context-hook",
    [
      "module-resolver",
      {
        "root": ["."],
        "extensions": [".js"]
      }
    ]
  ]
}
