node_modules
.env*
.dream
logs/!.gitignore
*.log
test-app/logs/*
.node-version
.DS_Store
test-app/.psy/*
spec/tmp.txt
.vim/*
dist

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
