body {
  padding: 0;
}

#root {
  background: black;
  height: calc(100vh - 40px);
  padding: 20px;
  font-family: monospace;
  font-size: 18px;
  overflow: hidden;
}

.table-container {
  overflow: auto;
}

h3 {
  text-align: right;
}

table {
  background: rgb(11, 11, 11);
  width: 100vw;
}

table td {
  padding: 0 30px 0 10px;
  line-height: 12px;
}

table thead td {
  border-right: solid 2px white;
  height: 10px;
}

td.primary-key {
  color: teal;
}

.editable-column {
  padding: 10px;
  cursor: pointer;
}

.editable-column.is-null {
  color: gray !important;
}

.editable-column.changed {
  background: rgb(71, 71, 5);
  color: yellow !important;
}

.editable-column.text {
  color: green;
}

.editable-column.number {
  color: yellow;
}

.editable-column.enum {
  color: rgb(12, 12, 231);
}
