.table-container {
  overflow: auto;
}

table {
  width: 100vw;
}

table td {
  line-height: 13px;
  word-break: break-word;
  max-height: 80px;
  text-overflow: ellipsis;
}

table thead tr th {
  border-right: solid 2px white;
  height: 10px;
  text-align: left;
  padding-left: 10px;
}

td.primary-key {
  color: teal;
}

.editable-column {
  /* padding: 10px; */
  cursor: pointer;
}

.editable-column.changed {
  background: rgb(71, 71, 5);
}

.column-display {
  max-height: 40px;
  overflow: hidden;
}

.column-display .text {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 40px;
}

.column-display.text .text {
  color: green;
}

.column-display.number .text {
  color: yellow;
}

.column-display.enum .text {
  color: rgb(12, 12, 231);
}

.editable-column.is-null .column-display .text {
  color: gray;
}

.editable-column.changed .column-display .text {
  color: yellow !important;
}

.editable-column:not(.is-array) .column-display.boolean .text {
  border-radius: 3px;
  background: rgb(101, 36, 255);
  color: white;
  padding: 3px;
  line-height: 27px;
}

.editable-column.is-array .column-display {
  /* border: solid red thin; */
  display: inline-block;
  padding: 6px;
  background: rgb(62, 62, 62);
  border-radius: 3px;
  margin-right: 5px;
}

.editable-column.is-array .column-display.boolean {
  background: rgb(101, 36, 255);
  color: white;
  padding: 3px;
}

.editable-column.is-array .column-display .delete-btn {
  margin-right: 5px;
}

.column-input {
  display: inline-block;
  position: relative;
  background: rgb(0, 0, 0);
  padding: 5px;
  border: solid white 2px;
  border-radius: 3px;
}

.column-input input {
  background: transparent;
}

.date-input input {
  font-size: 20px;
  margin-bottom: 10px;
}

#table-page {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
